<app-tab></app-tab>
<app-sidebar></app-sidebar>

<div class="info">
  <h3><i class="fa-solid fa-briefcase"></i> Job</h3>
  <hr class="hr hr-blurry" />

  <h5><i class="fa-solid fa-address-card"></i> Employment Status</h5>
  <hr class="hr hr-blurry" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col-md-3">#</th>
        <th scope="col-md-3">Effective Date</th>
        <th scope="col-md-3">Employment Status</th>
        <th scope="col-md-3">Comment</th>
      </tr>
    </thead>
  </table>

  <h5><i class="fa-solid fa-briefcase"></i> Job Information</h5>
  <hr class="hr hr-blurry" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Effective Date</th>
        <th scope="col">Location</th>
        <th scope="col">Division</th>
        <th scope="col">Department</th>
        <th scope="col">Job Title</th>
        <th scope="col">Reports</th>
      </tr>
    </thead>
  </table>

  <h5><i class="fa-solid fa-pen-to-square"></i> Compensation</h5>
  <hr class="hr hr-blurry" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Effective Date</th>
        <th scope="col">Pay Schedule</th>
        <th scope="col">Pay Type</th>
        <th scope="col">Pay Rate</th>
        <th scope="col">Overtime</th>
        <th scope="col">Change Reason</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
  </table>
</div>
