<div class="row background-blue p-5">
  <div class="col-md-3">
    <h2>User Name</h2>
    <div class="user-photo">
      <img
        src="../assets/images/149071.png"
        width="70%"
        height="80%"
        alt="alt"
      />
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="container mt-3 col-xs-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="my-info"> Personal </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="job"> Job </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="time-off"> TimeOff </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="documents"> Documents </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="benefits"> Benefits </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="training"> Training </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets"> Assets </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
