<div id="p1" class="page-header">
  <h4>Username</h4>
  <div class="user-photo">
    <img class="photo" src="../assets/images/149071.png" alt="alt" />
  </div>
</div>
<div class="info">
  <div id="c1" class="container rounded">
    <div id="p2" class="page-header">
      <h3><i class="fa-solid fa-clock fa-sm"></i>Time-Off</h3>
    </div>
  </div>
  <div id="c2" class="container rounded">
    <div id="p2" class="page-header"><h3>Time-Off</h3></div>
  </div>

  <div id="c3" class="container rounded">
    <div id="p2" class="page-header">
      <h3><i class="fa-solid fa-clock"></i> What's happening in Clavrit</h3>
    </div>
  </div>
  <div id="c4" class="container rounded">
    <div id="p2" class="page-header">
      <h3><i class="fa-solid fa-people-group"></i> My Team</h3>
    </div>
  </div>
</div>
