<div class="container-fluid">
  <h2><i class="fa-solid fa-bars"></i> People</h2>
  <div class="nav-tabs">
    <div class="cd1">
      <button type="button" class="btn btn-light">
        <i class="fa-solid fa-circle-plus"></i> New Employee
      </button>
    </div>
    <div class="cd2">
      <button routerLink="/people" type="button" class="btn btn-light">
        <i class="fa-solid fa-bars"></i> List
      </button>
      <button routerLink="/directory" type="button" class="btn btn-light">
        <i class="fa-solid fa-address-book"></i> Directory
      </button>
      <button routerLink="/orgchart" type="button" class="btn btn-light">
        <i class="fa-solid fa-sitemap"></i> Org Chart
      </button>
    </div>
  </div>
</div>
