<app-tab></app-tab>
<app-sidebar></app-sidebar>
<div class="info">
  <h3><i class="fa-regular fa-address-card"></i> Assets</h3>
  <hr class="hr hr-blurry" />
  <h5><i class="fa-regular fa-address-card"></i> Assets</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Asset Category</th>
        <th scope="col">Asset Description</th>
        <th scope="col">Serial#</th>
        <th scope="col">Date Assigned</th>
        <th scope="col">Date Returned</th>
      </tr>
    </thead>
  </table>
</div>
